form {
  display: flex;
  justify-content: center;
  width: 600px;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem auto;
}
.form__div{
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}
