.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.main__empty {
  text-align: center;
  margin-top: 2rem;
}

.main__todo:nth-child(2) {
  background-color: lightgray;
}
